################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pyramids1/pyramids1/bin/Debug
/pyramids1/pyramids1/obj/Debug
/Pattern2/.vs/Pattern2/v15
/Pattern2/Pattern2/obj/Debug
/Pattern2/Pattern2/bin/Debug
/pattern3/.vs/pattern3/v15
/pattern3/pattern3/obj/Debug
/pattern3/pattern3/bin/Debug
/firstnotreaptingcharacter/.vs/firstnotreaptingcharacter/v15
/firstnotreaptingcharacter/firstnotreaptingcharacter/obj/Debug
/firstnotreaptingcharacter/firstnotreaptingcharacter/bin/Debug
/Happynumber/Happynumber/bin/Debug
/Happynumber/.vs/Happynumber/v15
/Happynumber/Happynumber/obj/Debug
/Stringpalingrom/.vs/Stringpalingrom/v15
/Stringpalingrom/Stringpalingrom/obj/Debug
/Stringpalingrom/Stringpalingrom/bin/Debug
/Stringanagram/.vs/Stringanagram/v15
/Stringanagram/Stringanagram/bin/Debug
/Stringanagram/Stringanagram/obj/Debug
/Reversestringword/.vs/Reversestringword/v15
/Reversestringword/Reversestringword/obj/Debug
/Reversestringword/Reversestringword/bin/Debug
/Createfile/.vs/Createfile/v15
/Createfile/Createfile/obj/Debug
/Createfile/Createfile/bin/Debug
/ListProgram/.vs/ListProgram/v15
/ListProgram/ListProgram/obj/Debug
/ListProgram/ListProgram/bin/Debug
