################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pyramids1/pyramids1/bin/Debug
/pyramids1/pyramids1/obj/Debug
