################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pyramids1/pyramids1/bin/Debug
/pyramids1/pyramids1/obj/Debug
/Pattern2/.vs/Pattern2/v15
/Pattern2/Pattern2/obj/Debug
/Pattern2/Pattern2/bin/Debug
/pattern3/.vs/pattern3/v15
/pattern3/pattern3/obj/Debug
/pattern3/pattern3/bin/Debug
/firstnotreaptingcharacter/.vs/firstnotreaptingcharacter/v15
/firstnotreaptingcharacter/firstnotreaptingcharacter/obj/Debug
/firstnotreaptingcharacter/firstnotreaptingcharacter/bin/Debug
/Happynumber/Happynumber/bin/Debug
/Happynumber/.vs/Happynumber/v15
/Happynumber/Happynumber/obj/Debug
/Stringpalingrom/.vs/Stringpalingrom/v15
/Stringpalingrom/Stringpalingrom/obj/Debug
/Stringpalingrom/Stringpalingrom/bin/Debug
